---
layout: default
title: Home
cover: false
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    <article class="post">

        <section class="post-content">

            <h3>Introduction</h3>

            <p>
            Deploying changes into production stands as the pivotal activity for a SaaS product, as it's the means through which a company delivers value to its users. However, it also harbors significant trepidation among teams due to its potential to introduce side effects into the latest operational version of the product, i.e., the most recent deployment.
            </p>

            <p>
            To mitigate the risks associated with this process, various techniques are typically employed, including the replication of production-like environments, reliance on Quality Assurance (QA) and Software Development Engineer in Test (SDET) teams, and the allocation of additional time for design and testing. While these measures help reduce the likelihood of bugs, they simultaneously extend the time required for deployment introducing additional layers between local development and the production environment, and increases massively the cost of delivering software. This, in turn, poses one of the most significant challenges for a SaaS company: the delay in delivering value to users.
            </p>

            <p>
            We've all encountered scenarios where changes worked flawlessly in the staging environment but faltered in production.
            <strong>We believe staging is a false sense of security.</strong>
            </p>
            <p>
            The concept of Mono Environment addresses a fundamental question: <i>How can we maximize the pace of value delivery while minimizing associated risks?</i> It revolves around the practice of channeling all time and effort into the production environment.
            </p>
            <p>
            Embracing the Mono Environment approach offers numerous advantages but necessitates the implementation of various engineering practices, which are detailed below.
            </p>

            <h3>Advantages</h3>

            <h6>Enhanced Velocity</h6>
            <ul>
                <li>
                    Accelerated time to market.
                </li>
                <li>
                    Efficient delivery flow without bottlenecks.
                </li>
            </ul>

            <h6>Cost Efficiency</h6>
            <ul>
                <li>
                    Reduced fixed expenses, avoiding the high costs of production replicas.
                </li>
                <li>
                    Increased return on investment as teams focus primarily on harnessing the production environment.
                </li>
            </ul>

            <h6>Improved Product Quality</h6>
            <ul>
                <li>Fewer production-related issues due to a "production-first" mindset, resulting in built-in quality.</li>
                <li>Reduced frequency and duration of outages, ensuring quicker recovery.</li>
                <li>Enhanced collaboration between product and engineering teams</li>
            </ul>

            <h6>Increased employee engagement and retention.</h6>
            <ul>
                <li>
                    Engineers' skill development, expanding their business knowledge and technical expertise.
                </li>
                <li>
                    Streamlined recruitment and longer employee tenures in a high-trust environment with regular code deployments, leading to greater job satisfaction.
                </li>
            </ul>


            <h3>Engineering practices</h3>

            <ul>
                <li>Feature Flagging</li>
                <li>Continuous Deployment</li>
                <li>Cloud Native</li>
                <li>Infrastructure as Code</li>
                <li>Pragmatic Test Driven Development</li>
                <li>Observability</li>
                <li>Post mortems</li>
                <li>Code Review</li>
                <li>Pragmatic Pair Programming</li>
                <li>Evolutionary architecture</li>
                <li>Zero downtime deployments</li>
                <li>Deploy often and small</li>
                <li>Test in Production</li>
            </ul>

            <h3>Authors</h3>

            <ul>
                <li><a href="https://www.linkedin.com/in/gbergere/" target="_blank">Geoffrey Bergeret</a></li>
                <li><a href="https://www.linkedin.com/in/paoloescobar/" target="_blank">Paolo Escobar</a></li>
                <li><a href="https://www.linkedin.com/in/michael-hancock-6790a32/" target="_blank">Michael Hancock</a></li>
            </ul>

        </section>

    </article>

</main>
